@page
@model Ex3.Pages.Items.CreateModel
@{
    ViewData["Title"] = "Add Item";
}
<h2>Add Item</h2>
<form method="post">
    <div class="form-group">
        <label asp-for="Item.ItemName"></label>
        <input asp-for="Item.ItemName" class="form-control" />
        <span asp-validation-for="Item.ItemName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Item.Size"></label>
        <input asp-for="Item.Size" class="form-control" />
        <span asp-validation-for="Item.Size" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}